.container.specificProduct {
  display: flex;
  direction: rtl;
  align-items: center;
  height: 100vh;
  .container-img {
    width: 50%;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;

    > img {
      border-radius: 15px;
      width: 100%;
    }
    .con-select {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      img {
        border-radius: 10px;

        margin: 1em;
        width: 4em;
      }
    }
  }
  .container-details {
    margin-right: 2em;
    h1 {
      font-weight: bold;
      font-size: 3em;
      margin: 0.5em 0;
    }
    .des {
      font-size: 1.2em;
      margin: 1em 0;
      width: 70%;
    }
  }
}
