.navbar {
  overflow: hidden;
  z-index: 345678;
  height: 60vh;
}
.navbar video {
  position: absolute;
  z-index: -2;
}
.navbar .container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .container-fluid a img {
  width: 15em;
  opacity: 0.8;
  border-radius: 32px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 780px) {
  .navbar {
    overflow: hidden;
    height: 50vh;
  }
  .navbar video {
    position: absolute;
    z-index: -2;
  }
  .navbar .container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar .container-fluid a img {
    width: 12em;
    opacity: 0.8;
    border-radius: 32px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
:root {
  --primary-100: #ffcdd2;
  --primary-200: #e0afb4;
  --primary-300: #9a6d72;
  --accent-100: #f8bbd0;
  --accent-200: #935d71;
  --text-100: #333333;
  --text-200: #5c5c5c;
  --bg-100: #ffffff;
  --bg-200: #f5f5f5;
  --bg-300: #cccccc;
  --bg-nav: #f0cfcf;
}

.container.productsShows {
  width: 100%;
  margin-top: 2em;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}
.container.productsShows .card {
  width: 30%;
  margin: 10px;
  height: -moz-fit-content;
  height: fit-content;
}
.container.productsShows .card img {
  width: 100%;
  height: 12em;
}

@media (max-width: 780px) {
  .container.productsShows {
    width: 100%;
    margin-top: 2em;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
  }
  .container.productsShows .card {
    width: 45%;
    margin: 10px;
  }
}
@media (max-width: 430px) {
  .container.productsShows {
    width: 100%;
    margin-top: 2em;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
  }
  .container.productsShows .card {
    width: 90%;
    margin: 10px;
  }
}
.whatsapp {
  font-size: 1.9em;
  color: var(--accent-200);
}

.container.specificProduct {
  display: flex;
  direction: rtl;
  align-items: center;
  height: 65vh;
  margin: 100px 0;
  height: -moz-fit-content;
  height: fit-content;
}
.container.specificProduct .container-img {
  width: 50%;
  height: 60%;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}
.container.specificProduct .container-img > img {
  width: 100%;
  max-width: 27em;
  height: 100%;
}
.container.specificProduct .container-img .con-select {
  flex-wrap: wrap;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.container.specificProduct .container-img .con-select img {
  border-radius: 10px;
  margin: 1em;
  width: 4em;
}
.container.specificProduct .container-details {
  width: 50%;
  height: 55%;
  margin-right: 2em;
}
.container.specificProduct .container-details h1 {
  font-weight: bold;
  font-size: 3em;
}
.container.specificProduct .container-details .des {
  font-size: 1.2em;
  margin: 2em 0;
  color: var(--text-200);
  width: 70%;
}
.container.specificProduct .container-details div {
  margin: 10px 0;
}
.container.specificProduct .container-details div.keyword {
  border: 2px solid var(--primary-100);
  border-radius: 23px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 5px;
  margin: 10px;
}
.container.specificProduct .container-details div.avil > span {
  color: var(--bg-100);
  background-color: var(--accent-200);
}
.container.specificProduct .container-details div.number > span {
  background-color: var(--primary-100);
}
.container.specificProduct .container-details div > span {
  background-color: var(--primary-100);
  font-weight: bold;
  margin: 1.5em 0.5em;
  border-radius: 23px;
  padding: 5px 7px;
}

.container.card-con {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  width: 100%;
}
.container.card-con .card {
  margin: 10px;
  width: 30%;
}

@media (max-width: 770px) {
  .container.specificProduct {
    flex-wrap: wrap;
  }
  .container.specificProduct .container-img {
    width: 100%;
    margin: 20px 0;
  }
  .container.specificProduct .container-details {
    width: 100%;
  }
  .container.specificProduct .container-details h1 {
    margin-top: 2em;
  }
  .container.card-con {
    justify-content: center;
  }
  .container.card-con .card {
    width: 45%;
  }
}
.navHome {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  background: var(--primary-100);
  height: 70px;
  transform: translate(25%, 10%);
  border-radius: 18px;
}
.navHome div.container {
  direction: ltr;
  display: flex;
  align-items: center;
}
.navHome div.container a {
  padding: 0;
}
.navHome div.container a.btn:hover {
  color: var(--primary-100);
  background-color: var(--text-200);
  border-radius: 18px;
  padding: 10px;
}
.navHome div.container a img {
  width: 3em;
}

@media (max-width: 800px) {
  .navHome {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0px;
    background: var(--primary-100);
    transform: translate(0%, 0%);
    height: 70px;
  }
  .navHome div.container {
    direction: ltr;
    display: flex;
    align-items: center;
  }
  .navHome div.container a {
    padding: 0;
  }
  .navHome div.container a.btn:hover {
    color: var(--primary-100);
    background-color: var(--text-200);
    border-radius: 18px;
    padding: 10px;
  }
  .navHome div.container a img {
    width: 3em;
  }
}
.container.searchAndProd {
  margin: 5em auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 1.5em;
}
.container.searchAndProd .search.container {
  width: 100%;
}
.container.searchAndProd .container.prod {
  overflow: scroll;
}
.container.searchAndProd .container.prod img {
  width: 10em;
  height: 5em;
}

.MuiBox-root.css-6z8jno {
  width: 80%;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  font-size: 1.5em !important;
}

.nav.nav-dash {
  background-color: var(--accent-100);
  color: white;
  display: flex;
  justify-content: center;
}
.nav.nav-dash a {
  color: white;
  font-size: 1.5em;
}

.css-79ws1d-MuiModal-root {
  width: 100%;
  height: 100%;
}

form.container.addProd {
  position: relative;
  top: 10em;
}

form.container.addd {
  transform: translate(0%, 50%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
}

.alert {
  border: 1px solid var(--accent-100);
  background: var(--accent-100);
  color: white;
  font-weight: bold;
  padding: 10px;
}

.btn-primary {
  background: var(--accent-100);
  border: none;
}
.btn-primary:hover {
  background-color: var(--accent-200);
}

.btn.btn-outline-secondary {
  border: 2px solid var(--accent-100);
  color: var(--accent-100);
}
.btn.btn-outline-secondary:hover {
  background-color: var(--accent-200);
  color: white;
}

.rounded.img {
  width: 100px;
}

.btn-check:checked + .btn,
:not(.btn-check) + .btn:active,
.btn:first-child:active,
.btn.active,
.btn.show {
  background: var(--accent-100);
  border: none;
}
.btn-check:checked + .btn:hover,
:not(.btn-check) + .btn:active:hover,
.btn:first-child:active:hover,
.btn.active:hover,
.btn.show:hover {
  background-color: var(--accent-200);
}

/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fCRc4EsA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fABc4EsA.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fCBc4EsA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fBxc4EsA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fCxc4EsA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fChc4EsA.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxK.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fCRc4EsA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fABc4EsA.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fCBc4EsA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fBxc4EsA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fCxc4EsA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fChc4EsA.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfCRc4EsA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfABc4EsA.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfCBc4EsA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBxc4EsA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfCxc4EsA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
* {
  font-family: "PT Sans Caption", sans-serif, "arial", "Times New Roman";
}

/* Error Page */
.error .clip .shadow {
  height: 180px; /*Contrall*/
}

.error .clip:nth-of-type(2) .shadow {
  width: 130px; /*Contrall play with javascript*/
}

.error .clip:nth-of-type(1) .shadow,
.error .clip:nth-of-type(3) .shadow {
  width: 250px; /*Contrall*/
}

.error .digit {
  width: 150px; /*Contrall*/
  height: 150px; /*Contrall*/
  line-height: 150px; /*Contrall*/
  font-size: 120px;
  font-weight: bold;
}

.error h2 {
  font-size: 32px;
}

.error .msg {
  top: -190px;
  left: 30%;
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 32px;
}

.error span.triangle {
  top: 70%;
  right: 0%;
  border-left: 20px solid #535353;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.error .container-error-404 {
  margin-top: 10%;
  position: relative;
  height: 250px;
  padding-top: 40px;
}

.error .container-error-404 .clip {
  display: inline-block;
  transform: skew(-45deg);
}

.error .clip .shadow {
  overflow: hidden;
}

.error .clip:nth-of-type(2) .shadow {
  overflow: hidden;
  position: relative;
  box-shadow: inset 20px 0px 20px -15px rgba(150, 150, 150, 0.8), 20px 0px 20px -15px rgba(150, 150, 150, 0.8);
}

.error .clip:nth-of-type(3) .shadow:after,
.error .clip:nth-of-type(1) .shadow:after {
  content: "";
  position: absolute;
  right: -8px;
  bottom: 0px;
  z-index: 9999;
  height: 100%;
  width: 10px;
  background: linear-gradient(90deg, transparent, rgba(173, 173, 173, 0.8), transparent);
  border-radius: 50%;
}

.error .clip:nth-of-type(3) .shadow:after {
  left: -8px;
}

.error .digit {
  position: relative;
  top: 8%;
  color: white;
  background: var(--accent-100);
  border-radius: 50%;
  display: inline-block;
  transform: skew(45deg);
}

.error .clip:nth-of-type(2) .digit {
  left: -10%;
}

.error .clip:nth-of-type(1) .digit {
  right: -20%;
}

.error .clip:nth-of-type(3) .digit {
  left: -20%;
}

.error h2 {
  color: #a2a2a2;
  font-weight: bold;
  padding-bottom: 20px;
}

.error .msg {
  position: relative;
  z-index: 9999;
  display: block;
  background: #535353;
  color: #a2a2a2;
  border-radius: 50%;
  font-style: italic;
}

.error .triangle {
  position: absolute;
  z-index: 999;
  transform: rotate(45deg);
  content: "";
  width: 0;
  height: 0;
}

/* Error Page */
@media (max-width: 767px) {
  /* Error Page */
  .error .clip .shadow {
    height: 100px; /*Contrall*/
  }
  .error .clip:nth-of-type(2) .shadow {
    width: 80px; /*Contrall play with javascript*/
  }
  .error .clip:nth-of-type(1) .shadow,
  .error .clip:nth-of-type(3) .shadow {
    width: 100px; /*Contrall*/
  }
  .error .digit {
    width: 80px; /*Contrall*/
    height: 80px; /*Contrall*/
    line-height: 80px; /*Contrall*/
    font-size: 52px;
  }
  .error h2 {
    font-size: 24px;
  }
  .error .msg {
    top: -110px;
    left: 15%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
  }
  .error span.triangle {
    top: 70%;
    right: -3%;
    border-left: 10px solid #535353;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
  }
  .error .container-error-404 {
    height: 150px;
  }
  /* Error Page */
}
/*--------------------------------------------Framework --------------------------------*/
.overlay {
  position: relative;
  z-index: 20;
} /*done*/
.ground-color {
  background: white;
} /*done*/
.item-bg-color {
  background: #eaeaea;
} /*done*/
/* Padding Section*/
.padding-top {
  padding-top: 10px;
} /*done*/
.padding-bottom {
  padding-bottom: 10px;
} /*done*/
.padding-vertical {
  padding-top: 10px;
  padding-bottom: 10px;
}

.padding-horizontal {
  padding-left: 10px;
  padding-right: 10px;
}

.padding-all {
  padding: 10px;
} /*done*/
.no-padding-left {
  padding-left: 0px;
} /*done*/
.no-padding-right {
  padding-right: 0px;
} /*done*/
.no-vertical-padding {
  padding-top: 0px;
  padding-bottom: 0px;
}

.no-horizontal-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.no-padding {
  padding: 0px;
} /*done*/
/* Padding Section*/
/* Margin section */
.margin-top {
  margin-top: 10px;
} /*done*/
.margin-bottom {
  margin-bottom: 10px;
} /*done*/
.margin-right {
  margin-right: 10px;
} /*done*/
.margin-left {
  margin-left: 10px;
} /*done*/
.margin-horizontal {
  margin-left: 10px;
  margin-right: 10px;
} /*done*/
.margin-vertical {
  margin-top: 10px;
  margin-bottom: 10px;
} /*done*/
.margin-all {
  margin: 10px;
} /*done*/
.no-margin {
  margin: 0px;
} /*done*/
.no-vertical-margin {
  margin-top: 0px;
  margin-bottom: 0px;
}

.no-horizontal-margin {
  margin-left: 0px;
  margin-right: 0px;
}

.inside-col-shrink {
  margin: 0px 20px;
} /*done - For the inside sections that has also Title section*/
/* Margin section */
hr {
  margin: 0px;
  padding: 0px;
  border-top: 1px dashed #999;
}

/*--------------------------------------------FrameWork------------------------*//*# sourceMappingURL=global.css.map */